<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bk.fm.FindMeeting" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.bk.fm.FindMeeting.MeetingParams"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bk.fm.FindMeeting.Summary"
            android:label="@string/title_activity_summary"
            android:parentActivityName="com.bk.fm.FindMeeting.MeetingParams" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bk.fm.FindMeeting.MeetingParams" />
        </activity>
        <activity
            android:name="com.bk.fm.FindMeeting.InvolvedPeople"
            android:label="@string/title_activity_involved_people"
            android:parentActivityName="com.bk.fm.FindMeeting.Summary" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bk.fm.FindMeeting.Summary" />
        </activity>
        <activity
            android:name="com.bk.fm.FindMeeting.SavedPeople"
            android:label="@string/title_activity_saved_people"
            android:parentActivityName="com.bk.fm.FindMeeting.InvolvedPeople" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bk.fm.FindMeeting.InvolvedPeople" />
        </activity>
        <activity
            android:name="com.bk.fm.FindMeeting.AvailabilitySummary"
            android:label="@string/title_activity_availability"
            android:parentActivityName="com.bk.fm.FindMeeting.InvolvedPeople" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bk.fm.FindMeeting.InvolvedPeople" />
        </activity>
        <activity
            android:name="com.bk.fm.FindMeeting.NewObligAvail"
            android:label="@string/title_activity_new_oblig_avail"
            android:parentActivityName="com.bk.fm.FindMeeting.AvailabilitySummary" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bk.fm.FindMeeting.AvailabilitySummary" />
        </activity>
        <activity
            android:name="com.bk.fm.FindMeeting.Results"
            android:label="@string/title_activity_results"
            android:parentActivityName="com.bk.fm.FindMeeting.InvolvedPeople" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bk.fm.FindMeeting.InvolvedPeople" />
        </activity>
    </application>

</manifest>
